:root {
    --primaryRed: #DB181F;
}

.register-name{
    font-size: 25px;
    font-weight: bold;
}

.register-container {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

