.link-start{
    padding-top: 2px;
    padding-bottom: 2px;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    color: gray;
}

.link-start:hover{
    text-decoration: none;
}

.flex-icon-mobile{
    background-color: white;
    color: gray;
    min-height: 70px;
    border-style: solid;
    border-color: gray;
    align-items: center;
}

.navigation-exit{
    font-size: large;
    font-weight: 700;
}

.navigation-register{
    font-size: large;
    font-weight: 400;
}

.link-home{
    font-size: 30px !important;
    font-weight: 600;
    color: gray;
}

.link-home:hover{
    text-decoration: none;
    color: gray;
}

.mobile-nav-item{
    border: 1px solid gray;
}

.display-block{
    display: block !important;
}